<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-pink scrolling-navbar ie-nav" [containerInside]="false">
        <logo>
            <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbRippleRadius>
                    <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Features</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Pricing</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Opinions</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </links>
      </mdb-navbar>
</header>
<div class="showcase">
    <slideshow [imageUrls]="imageUrlArray"
    width="100%"
    height="300px"
    showDots="true"
    dotColor="#f00"
    >
    </slideshow>
</div>

<!-- Main -->
<main>
    <div class="container">
            <section class="section pb-3">

                    <!--Section heading-->
                    <h2 class="section-heading h1 pt-4"><strong>Our best projects</strong></h2>
                
                    <!--Section description-->
                    <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
                    <!--Grid row-->
                    <div class="row text-center">
                
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-r">
                
                            <!--Featured image-->
                            <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                
                                <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Sample project image">
                
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                
                            <!--Excerpt-->
                            <div class="card-body mt-1">
                                <a href="" class="pink-text">
                                    <h5><i class="fa fa-coffee"></i> Culinary</h5>
                                </a>
                                <h4>Title of the news</h4>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                    deleniti atque.</p>
                                <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>
                            </div>
                
                        </div>
                        <!--Grid column-->
                
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-r">
                
                            <!--Featured image-->
                            <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                
                                <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="Sample project image">
                
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                
                            <!--Excerpt-->
                            <div class="card-body mt-1">
                                <a href="" class="blue-text">
                                    <h5><i class="fa fa-camera"></i> Business</h5>
                                </a>
                                <h4>Title of the news</h4>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                    facere possimus.</p>
                                <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>
                            </div>
                
                        </div>
                        <!--Grid column-->
                
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-r">
                
                            <!--Featured image-->
                            <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>
                
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img (73).jpg" alt="Sample project image">
                
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                
                            <!--Excerpt-->
                            <div class="card-body mt-1">
                                <a href="" class="purple-text">
                                    <h5><i class="fa fa-plane"></i> Travels</h5>
                                </a>
                                <h4>Title of the news</h4>
                                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                                    repudiandae.</p>
                                <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius><i class="fa fa-clone left"></i> View project</a>
                            </div>
                
                        </div>
                        <!--Grid column-->
                
                    </div>
                    <!--Grid row-->
                
                </section>
                <!--/Projects section v.1-->
    </div>
    <!--Projects section v.1-->

</main>
<!-- /.Main -->

<!--Modal: Login with Avatar Form-->
<!--Modal: Register Form-->

          
                
<!--Footer-->
<footer class="page-footer mdb-color center-on-small-only">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <h5 class="title">Footer Content </h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-2">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Register for free</h5>
            </li>
            <li><a href="javascript:void(0)"  (click)="form.show()" class="btn btn-danger waves-light" mdbRippleRadius>Sign up!</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <hr>

    <!--Social buttons-->
    <div class="text-center mb-3">

        <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
        <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
        <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
        <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
        <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
        <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
        <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-user-plus"></i> Register</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input mdbActive type="text" id="form32" class="form-control">
                    <label for="form32">Your email</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input mdbActive type="password" id="form33" class="form-control">
                    <label for="form33">Your password</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input mdbActive type="password" id="form34" class="form-control">
                    <label for="form34">Repeat password</label>
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" mdbRippleRadius>Sign up <i class="fa fa-sign-in ml-1"></i></button>
                </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Already have an account? <a href="javascript:void(0)" (click)="style.show();form.hide()">Log In</a></p>
                </div>
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Register Form-->

<div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" class="rounded-circle img-responsive">
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">
            <form  #loginForm="ngForm" (submit)="login(loginForm)">
                <h5 class="mt-1 mb-2">Login</h5>
                <div class="md-form ml-0 mr-0">
                    <input mdbActive type="text" id="form29" class="form-control ml-0" name="email" id="email" ngModel required>
                    <label for="form29" class="ml-0">Enter Username</label>
                </div>
                <div class="md-form ml-0 mr-0">
                    <input mdbActive type="password"  id="form29" class="form-control ml-0"  name="password" id="password" ngModel required>
                    <label for="form29" class="ml-0">Enter password</label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-cyan mt-1 waves-light" mdbRippleRadius>Login <i class="fa fa-sign-in ml-1"></i></button>
                </div>
            </form>
                
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>