    <!--Main Navigation-->
    <header>

      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
          <div class="container-fluid">

               <!-- Brand -->
            <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank">
              <strong class="blue-text">Swingming</strong>
          </a>

          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <!-- Left -->
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link waves-effect" href="#">Trang Chủ
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank">Hỗ Trợ</a>
                  </li>
              </ul>

                  <!-- Right -->
                  <ul class="navbar-nav nav-flex-icons">
                      <li class="nav-item"  class="media">
                          <a href="javascript:void(0)" class="ml-1 nav-link border border-light rounded waves-effect" [matMenuTriggerFor]="menu">
                          <i class="fa fa-user-secret"></i>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item>Đăng Xuất</button>
                            <button mat-menu-item>Hỗ Trợ</button>
                          </mat-menu></a>
                      </li>
                  </ul>

              </div>

          </div>
      </nav>
      <!-- Navbar -->

      <!-- Sidebar -->
      <div class="sidebar-fixed position-fixed">

          <a class="logo-wrapper waves-effect">
              <img src="../assets/img/angular-mdb.png" class="img-fluid" alt="">
          </a>

          <div class="list-group list-group-flush">
  
                <a routerLink="/general"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>Tổng Quan
                </a>
                <a routerLink="/profile" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect" >
                    <i class="fa fa-user mr-3"></i>Thông Tin</a>
                <a routerLink="/class" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect" >
                      <i class="fa fa-table mr-3"></i>Lớp</a>
                <a routerLink="/table" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect" >
                    <i class="fa fa-table mr-3"></i>Dữ Liệu</a>
                <a routerLink="/tableteacher"  routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect" >
                     <i class="fa fa-table mr-3"></i>Dữ Liệu Giáo Viên</a>
                <a routerLink="/form" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-map mr-3"></i>Biểu mẫu</a>
                <a routerLink="nonExistingPath" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-exclamation mr-3"></i>Lỗi</a>
    
            </div>

      </div>
      <!-- Sidebar -->

  </header>
  <!--Main Navigation-->
  <main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}"  class="pt-5 mx-lg-5" >
  
      <div class="mt-5">
        
<div class="row mt-5">
  <div class="col-md-12">
      <!--Card-->
      <div class="card card-cascade narrower mt-5">
          <!--Card image-->
          <div class="view gradient-card-header blue darken-2">
              <h4 class="h4-responsive text-white">Dữ Liệu Toàn Phần</h4>
          </div>
          <!--/Card image-->
          <!--Card content-->
          <div class="card-body">
              <div class="example-container mat-elevation-z8">
                  <div class="example-header">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tìm Kiếm">
                    </mat-form-field>
                  </div>
                
                  <mat-table #table [dataSource]="dataSource">
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
          </div>
          <!--/.Card content-->
      </div>
      <!--/.Card-->
  </div>
</div>

      </div>
    </main>

  <!--Footer-->
  <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn  ">

      
      <!--/.Call to action-->

      <hr class="my-4">

      <!-- Social icons -->
      <div class="pb-4">
          <a href="https://www.facebook.com/mdbootstrap" target="_blank">
              <i class="fa fa-facebook mr-3"></i>
          </a>

          <a href="https://twitter.com/MDBootstrap" target="_blank">
              <i class="fa fa-twitter mr-3"></i>
          </a>

          <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
              <i class="fa fa-youtube mr-3"></i>
          </a>

          <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
              <i class="fa fa-google-plus mr-3"></i>
          </a>

        
      </div>
      <!-- Social icons -->

      <!--Copyright-->
      <div class="footer-copyright py-3">
          © 2018 Copyright:
          <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> MDBootstrap.com </a>
      </div>
      <!--/.Copyright-->

  </footer>
  <!--/.Footer-->