    <!--Main Navigation-->
    <header>

      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
          <div class="container-fluid">

              <!-- Brand -->
              <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank">
                <strong class="blue-text">Swingming</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect" href="#">Trang Chủ
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank">Hỗ Trợ</a>
                    </li>
                </ul>

                  <!-- Right -->
                 <!-- Right -->
                 <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="ml-1 nav-link border border-light rounded waves-effect" [matMenuTriggerFor]="menu">
                        <i class="fa fa-user-secret"></i>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>Đăng Xuất</button>
                          <button mat-menu-item>Hỗ Trợ</button>
                        </mat-menu></a>
                    </li>
                </ul>

              </div>

          </div>
      </nav>
      <!-- Navbar -->

      <!-- Sidebar -->
      <div class="sidebar-fixed position-fixed">

          <a class="logo-wrapper waves-effect">
              <img src="../assets/img/angular-mdb.png" class="img-fluid" alt="">
          </a>

          <div class="list-group list-group-flush">
      
                <a routerLink="/general"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>Tổng Quan
                </a>
                <a routerLink="/profile" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect" >
                    <i class="fa fa-user mr-3"></i>Thông Tin</a>
                <a routerLink="/class" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect" >
                      <i class="fa fa-table mr-3"></i> Dữ Liệu Lớp</a>
                <a routerLink="/table" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect" >
                    <i class="fa fa-table mr-3"></i>Dữ Liệu Sinh Viên</a>
                <a routerLink="/tableteacher"  routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect" >
                     <i class="fa fa-table mr-3"></i>Dữ Liệu Giáo Viên</a>
                <a routerLink="/form" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-map mr-3"></i>Biểu mẫu</a>
                <a routerLink="nonExistingPath" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-exclamation mr-3"></i>Lỗi</a>
        </div>

      </div>
      <!-- Sidebar -->

  </header>
  <!--Main Navigation-->
  <main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}"  class="pt-5 mx-lg-5" >
  
      <div class="mt-5">
          <!--Grid row-->
          <section class="mt-lg-5">

            <!--Grid row-->
            <div class="row">
        
                <!--Grid column-->
                <div class="col-xl-3 col-md-6 mb-r">
        
                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">
        
                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="	fa fa-child warning-color"></i>
                                <div class="data">
                                    <p>Học Viên</p>
                                    <h4><strong>15200</strong></h4>
                                </div>
                            </div>
                            <!--/.Card Data-->
            
                            <!--Card content-->
                            <div class="card-body">
                                <div class="progress">
                                    <div class="progress-bar bg grey darken-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Số Học Viên Đi Học Hôm Nay(25%)</p>
                            </div>
                            <!--/.Card content-->
            
                        </div>
                        <!--/.Card-->
        
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-xl-3 col-md-6 mb-r">
        
                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">
        
                        <!--Card Data-->
                        <div class="admin-up">
                            <i class="fa fa-male success-color"></i>
                            <div class="data">
                                <p>Giáo Viên</p>
                                <h4><strong>50</strong></h4>
                            </div>
                        </div>
                        <!--/.Card Data-->
        
                        <!--Card content-->
                        <div class="card-body">
                            <div class="progress">
                                <div class="progress-bar bg grey darken-2" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--Text-->
                            <p class="card-text">Số Lượng Giáo Viên Đang Dạy (55%)</p>
                        </div>
                        <!--/.Card content-->
        
                    </div>
                    <!--/.Card-->
        
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-xl-3 col-md-6 mb-r">
        
                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">
        
                        <!--Card Data-->
                        <div class="admin-up">
                            <i class="fa fa-mars-stroke light-blue lighten-1"></i>
                            <div class="data">
                                <p>Học Viên Nam</p>
                                <h4><strong>10000</strong></h4>
                            </div>
                        </div>
                        <!--/.Card Data-->
        
                        <!--Card content-->
                        <div class="card-body">
                            <div class="progress">
                                <div class="progress-bar grey darken-2" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--Text-->
                            <p class="card-text">Những Sinh Viên Cao Trên m75 (75%)</p>
                        </div>
                        <!--/.Card content-->
        
                    </div>
                    <!--/.Card-->
        
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-xl-3 col-md-6 mb-r">
        
                    <!--Card-->
                    <div class="card card-cascade cascading-admin-card">
        
                            <!--Card Data-->
                            <div class="admin-up">
                                <i class="fa fa-venus secondary-color"></i>
                                <div class="data">
                                    <p>Học Viên Nữ</p>
                                    <h4><strong>500</strong></h4>
                                </div>
                            </div>
                            <!--/.Card Data-->
            
                            <!--Card content-->
                            <div class="card-body">
                                <div class="progress">
                                    <div class="progress-bar bg grey darken-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Những học viên cao trên m65 (25%)</p>
                            </div>
                            <!--/.Card content-->
            
                        </div>
                        <!--/.Card-->
        
                </div>
                <!--Grid column-->
        
            </div>
            <!--Grid row-->
        
        </section>

            <!--Grid row-->
            <div class="row wow fadeIn mt-5">

                <!--Grid column-->
                <div class="col-md-9 mb-4">
                <div class="card-header text-center" style="background: salmon">
                            Biểu Đồ Số Lượng Học Viên Đang Học 
                </div>
                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">

                            <div style="display: block">
                                <canvas mdbChart 
                                [chartType]="chart1Type"
                                [datasets]="chartDatasets" 
                                [labels]="chartLabels"
                                [colors]="chartColors"
                                [options]="chartOptions"
                                [legend]="true">
                                </canvas>
                              </div>  
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 mb-4">

                    <!--Card-->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header text-center">
                            Pie chart
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <div style="display: block">
                                <canvas mdbChart 
                                    [chartType]="chart2Type"
                                    [datasets]="chartDatasets" 
                                    [labels]="chartLabels"
                                    [colors]="chartColors"
                                    [options]="chartOptions"
                                    [legend]="true">
                                </canvas>
                            </div> 
                        </div>

                    </div>
                    <!--/.Card-->

                    <!--Card-->
                    <div class="card mb-4">

                        <!--Card content-->
                        <div class="card-body">

                            <!-- List group links -->
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action waves-effect">Sales
                                    <span class="badge badge-success badge-pill pull-right">22%
                                        <i class="fa fa-arrow-up ml-1"></i>
                                    </span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">Traffic
                                    <span class="badge badge-danger badge-pill pull-right">5%
                                        <i class="fa fa-arrow-down ml-1"></i>
                                    </span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">Orders
                                    <span class="badge badge-primary badge-pill pull-right">14</span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">Issues
                                    <span class="badge badge-primary badge-pill pull-right">123</span>
                                </a>
                                <a class="list-group-item list-group-item-action waves-effect">Messages
                                    <span class="badge badge-primary badge-pill pull-right">8</span>
                                </a>
                            </div>
                            <!-- List group links -->

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
            <!--Grid row-->
<!--Contact Form-->      
      </div>
    </main>

  <!--Footer-->
  <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn  ">

      <!--Call to action-->
      <div class="pt-4">
          <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank" role="button">Download MDB
              <i class="fa fa-download ml-2"></i>
          </a>
          <a class="btn btn-outline-white" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank" role="button">Start free tutorial
              <i class="fa fa-graduation-cap ml-2"></i>
          </a>
      </div>
      <!--/.Call to action-->

      <hr class="my-4">

      <!-- Social icons -->
      <div class="pb-4">
          <a href="https://www.facebook.com/mdbootstrap" target="_blank">
              <i class="fa fa-facebook mr-3"></i>
          </a>

          <a href="https://twitter.com/MDBootstrap" target="_blank">
              <i class="fa fa-twitter mr-3"></i>
          </a>

          <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
              <i class="fa fa-youtube mr-3"></i>
          </a>

          <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
              <i class="fa fa-google-plus mr-3"></i>
          </a>

          <a href="https://dribbble.com/mdbootstrap" target="_blank">
              <i class="fa fa-dribbble mr-3"></i>
          </a>

          <a href="https://pinterest.com/mdbootstrap" target="_blank">
              <i class="fa fa-pinterest mr-3"></i>
          </a>

          <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
              <i class="fa fa-github mr-3"></i>
          </a>

          <a href="http://codepen.io/mdbootstrap/" target="_blank">
              <i class="fa fa-codepen mr-3"></i>
          </a>
      </div>
      <!-- Social icons -->

      <!--Copyright-->
      <div class="footer-copyright py-3">
          © 2018 Copyright:
          <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> MDBootstrap.com </a>
      </div>
      <!--/.Copyright-->

  </footer>
  <!--/.Footer-->